.item{
    display:flex;
    justify-content: space-around;
}
h1{
    margin-left: 850px;
}
.description h1{
    margin-left: 770px;
}
body{
    background-color: #7fffd4;
}
.item:hover img{
    opacity:0.33;
}